@import '../sass/abstracts/functions';
@import '../sass/abstracts/variables';

.quiz {
    width: 70vw;

    &__heading {
        text-align: center;
    }

    &__question {
        background-color: $primary-color;
        padding: rem(15px);
        border-radius: rem(5px);
    }

    &__answers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: rem(10px);
    }

    &__action:not(:first-child) {
        margin-top: rem(10px);
    }
}

@media (max-width: 1024px) {
    .quiz {
        width: 95vw;
    }
}

@media (max-width: 768px) {
    .quiz {
        &__answers {
            grid-template-columns: 1fr;
        }
    }
}