<!-- <button class="btn btn--primary">Test</button><br>
<button class="btn btn--secondary">Test</button><br>
<button class="btn btn--warning">Test</button><br>
<button class="btn btn--success">Test</button><br>
<button class="btn btn--danger">Test</button><br>

<button class="btn btn--outline-primary">Test</button><br>
<button class="btn btn--outline-secondary">Test</button><br>
<button class="btn btn--outline-warning">Test</button><br>
<button class="btn btn--outline-success">Test</button><br>
<button class="btn btn--outline-danger">Test</button><br>

<br>

<button class="btn btn--primary btn--block">Test</button><br>
<button class="btn btn--secondary btn--block">Test</button><br>
<button class="btn btn--outline-primary btn--block">Test</button><br>
<button class="btn btn--outline-secondary btn--block">Test</button><br>

<br>

<button class="btn btn--primary btn--block" disabled>Test</button><br>
<button class="btn btn--secondary btn--block" disabled>Test</button><br>
<button class="btn btn--outline-primary btn--block" disabled>Test</button><br>
<button class="btn btn--outline-secondary btn--block" disabled>Test</button><br> -->
