@import '../sass/abstracts/functions';

.details__detail:not(:first-child) {
    margin-top: rem(20px);
}

.details__header {
    font-size: rem(15px);
    color: #7D7D7D;
    display: block;
}

.details__value {
    font-size: rem(18px);
    display: block;
    margin-top: rem(5px);
}