@import '../sass/components/colours';
@import '../sass/functions/em';

.quiz{
    background-color: $light-primary-color;
    border-radius: em(10px);
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    padding-top: em(1px);
    width: 300px;
    height: 200px;

    &.edit-mode {
        height: 230px;
        cursor: default;
    }

    &:hover{
        background-color: lighten($primary-color, 7%);
    }

    &__title{
        text-align: center;
        max-width: 200px;
        max-height: 60px;
        overflow: hidden;
        display: block;
        margin: 0px auto;
    }

    &__image{
        width: em(120px);
        margin: 0px auto;
    }

    &__actions {
        display: flex;
        flex-direction: row-reverse;
        padding-right: em(5px);
    }

    &__action {
        color: $accent-color;

        &:hover {
            background-color: rgba($accent-color, 0.150);
        }
    }
}