@import '../sass/abstracts/variables';
@import '../sass/abstracts/functions';

.quiz{
    background-color: $light-primary-color;
    border-radius: rem(10px);
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    width: 300px;
    height: 240px;

    // &.edit-mode {
    //     height: rem(240px);
    //     cursor: default;
    // }

    &:hover{
        background-color: lighten($primary-color, 7%);
    }

    &__title{
        max-width: 90%;
        max-height: rem(60px);
        overflow: hidden;
        display: block;
    }

    &__image{
        width: rem(120px);
    }

    &__actions {
        display: flex;
        flex-direction: row-reverse;
        padding-right: rem(5px);
    }

    &__action:not(:first-child) {
        margin-right: 10px;
    }
}