<div class="quiz" [ngClass]="{ 'edit-mode': showActions }">
  
  <div class="quiz__title u-margin-auto u-text-center">
    <h4>{{ quiz.title }}</h4>
  </div>

  <div class="quiz__image u-margin-auto u-margin-top-sm">
    <img src="{{ quiz.img ? env.backend + quiz.img : '../../assets/faq.png' }}">
  </div>

  <div class="quiz__actions" *ngIf="showActions">
    <a class="quiz__action btn btn--outline-warning" [routerLink]="['/edit-quiz', quiz._id]" [tooltip]="'Edytuj'"><fa-icon [icon]="faPen"></fa-icon></a>
    <button class="quiz__action btn btn--outline-danger" (click)="deleteQuiz(quiz._id)" [tooltip]="'Usuń'"><fa-icon [icon]="faTrash"></fa-icon></button>
    <a class="quiz__action btn btn--outline-success" [routerLink]="['/play-quiz', quiz._id]" [tooltip]="'Graj'"><fa-icon [icon]="faPlay"></fa-icon></a>
  </div>

</div>