@import '../sass/abstracts/variables';
@import '../sass/abstracts/functions';

.quiz{
    background-color: $light-primary-color;
    border-radius: rem(10px);
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    padding-top: rem(1px);
    width: 300px;
    height: 200px;

    &.edit-mode {
        height: rem(230px);
        cursor: default;
    }

    &:hover{
        background-color: lighten($primary-color, 7%);
    }

    &__title{
        text-align: center;
        max-width: rem(200px);
        max-height: rem(60px);
        overflow: hidden;
        display: block;
        margin: 0px auto;
    }

    &__image{
        width: rem(120px);
        margin: 0px auto;
    }

    &__actions {
        display: flex;
        flex-direction: row-reverse;
        padding-right: rem(5px);
    }

    &__action:not(:first-child) {
        margin-right: 10px;
    }
}