@import '../sass/abstracts/variables';
@import '../sass/abstracts/functions';
@import '../sass/abstracts/mixins';

.quiz{
    background-color: $light-primary-color;
    border-radius: rem(10px);
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    width: 300px;
    height: 240px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 6fr 3fr;
    place-items: center;

    &:hover{
        background-color: lighten($primary-color, 7%);
    }

    &__title{
        max-width: 90%;
        overflow: hidden;
    }

    &__image{
        width: rem(120px);
    }

    &__actions {
        display: flex;
        flex-direction: row-reverse;
    }

    &__action:not(:first-child) {
        margin-right: rem(10px);
    }
}