  <div class="side-nav__item logo">
    <div class="side-nav__item--icon" (click)="close()">
      <fa-icon [icon]="faBars" size="lg"></fa-icon>
    </div>

    <div class="side-nav__item--text">
      Quizario
    </div>
  </div>

  <div class="side-nav__item">
    <div class="side-nav__item--icon">
      <fa-icon [icon]="faHome" size="lg"></fa-icon>
    </div>

    <div class="side-nav__item--text">
      Główna
    </div>
  </div>

  <div class="side-nav__item">
    <div class="side-nav__item--icon">
      <fa-icon [icon]="faHome" size="lg"></fa-icon>
    </div>

    <div class="side-nav__item--text">
      Główna
    </div>
  </div>

  <div class="side-nav__item">
    <div class="side-nav__item--icon">
      <fa-icon [icon]="faHome" size="lg"></fa-icon>
    </div>

    <div class="side-nav__item--text">
      Główna
    </div>
  </div>

  <div class="side-nav__item">
    <div class="side-nav__item--icon">
      <fa-icon [icon]="faHome" size="lg"></fa-icon>
    </div>

    <div class="side-nav__item--text">
      Główna
    </div>
  </div>
