<div class="side-nav">
    <div class="side-nav__item logo">
        <div class="side-nav__item--icon" (click)="close()">
          <fa-icon [icon]="faBars" size="lg"></fa-icon>
        </div>
      
        <div class="side-nav__item--text">
          Quizario
        </div>
      </div>

      <div class="side-nav__body" (click)="close()">
          <a class="side-nav__item" routerLink="/">
            <div class="side-nav__item--icon">
              <fa-icon [icon]="faHome" size="lg"></fa-icon>
            </div>
          
            <div class="side-nav__item--text">
              Główna
            </div>
          </a>
          
          <a class="side-nav__item">
            <div class="side-nav__item--icon">
              <fa-icon [icon]="faSave" size="lg"></fa-icon>
            </div>
          
            <div class="side-nav__item--text">
              Zapisane
            </div>
          </a>
          
          <a class="side-nav__item" routerLink="/account/history">
            <div class="side-nav__item--icon">
              <fa-icon [icon]="faHistory" size="lg"></fa-icon>
            </div>
          
            <div class="side-nav__item--text">
              Historia gier
            </div>
          </a>
      </div>
</div>