@import '../sass/abstracts/variables';
@import '../sass/abstracts/functions';

:host {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1C1C1C;
    transform: translateX(rem(-240px));
    transition: transform .3s ease-in-out;
    height: 100vh;
    z-index: 100;

    &.closed{
        transform: translateX(-100%);
    }

    &.opened {
        transform: translateX(0);
    }
}

.side-nav__item {
    display: flex;
    align-items: center;
    text-align: center;
    width: rem(240px);
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    height: rem(64px);
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
        background-color: rgb(44, 44, 44);
    }
    
    &--icon {
        padding-left: rem(32px);
    }
    
    &--text {
        padding-left: rem(32px);
    }
}

.logo{
    background-color: $primary-color;

    &:hover{
        background-color: $primary-color;
    }

    .side-nav__item--text{
        font-weight: 900;
        font-size: rem(24px);
    }
}