@import '../sass/abstracts/variables';
@import '../sass/abstracts/functions';

.games {

    &__game {
        display: block;
        background-color: $light-primary-color;
        padding: 30px;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.1s ease-out, background-color .1s ease-out;

        &:hover {
            background-color: lighten($light-primary-color, 7%);
            transform: scale(1.01);
        }

        &:active {
            transform: scale(0.99);
        }
    }

    &__title {
        font-size: rem(18px);
        font-weight: bold;
    }

    &__date {
        font-size: rem(14px);
        color: darken($light-text-color, 20%);
        margin-top: 3px;
    }
}