.login{
    width: 500px;
    margin: 0px auto;
    padding: 10px 20px 20px 20px;
    background-color: #2E2E2E;
    position: absolute;
    left: 50%; top: 30%;
    transform: translate(-50%, -30%);
    border-radius: 3px;

    h1{
        text-align: center;
    }
}