
<form action="#" [formGroup]="quizForm" (ngSubmit)="addQuiz()" class="quiz">

  <h1 class="quiz__heading">Stwórz nowy quiz</h1>

  <div class="form-group">
    <input type="text" formControlName="title" class="form-control" placeholder="Nazwa quizu">
    <p class="hint-error" *ngIf="title.hasError('required') && title.touched">Nazwa jest wymagana.</p>
    <p class="hint-error" *ngIf="title.hasError('minlength') && title.touched">Nazwa musi mieć <strong>przynajmniej</strong> {{ title.getError('minlength').requiredLength }} znaków.</p>
    <p class="hint-error" *ngIf="title.hasError('maxlength') && title.touched">Nazwa nie może posiadać wiecej niż {{ title.getError('maxlength').requiredLength }} znaków.</p>
  </div>

  <div formArrayName="questions" class="questions">

    <div *ngFor="let question of questions.controls; let i=index" [formGroupName]="i" class="quiz__question">

      <h2>Pytanie {{ i + 1 }}</h2>

      <div class="form-group">
        <input type="text" formControlName="title" class="form-control" placeholder="Treść pytania">
        <p class="hint-error" *ngIf="getQuestionTitle(i).hasError('required') && getQuestionTitle(i).touched">Pytanie jest wymagane.</p>
        <p class="hint-error" *ngIf="getQuestionTitle(i).hasError('minlength') && getQuestionTitle(i).touched">Pytanie musi mieć <strong>przynajmniej</strong> {{ getQuestionTitle(i).getError('minlength').requiredLength }} znaków.</p>
        <p class="hint-error" *ngIf="getQuestionTitle(i).hasError('maxlength') && getQuestionTitle(i).touched">Pytanie nie może posiadać wiecej niż {{ getQuestionTitle(i).getError('maxlength').requiredLength }} znaków.</p>    
      </div>

      <div class="form-group">
        <div formGroupName="answers" class="quiz__answers">
          <div class="answer">
              <input type="text" formControlName="a" class="form-control answer" placeholder="Odpowiedź a)">
              <p class="hint-error" *ngIf="getAnswer(i, 'a').hasError('required') && getAnswer(i, 'a').touched">To pole jest <strong>wymagane.</strong></p>
              <p class="hint-error" *ngIf="getAnswer(i, 'a').hasError('maxlength') && getAnswer(i, 'a').touched">Odpowiedź <strong>nie może być dłuższa</strong> niż {{ getAnswer(i, 'a').getError('maxlength').requiredLength }} znaków.</p>
          </div>

          <div class="answer">
              <input type="text" formControlName="b" class="form-control answer" placeholder="Odpowiedź b)">
              <p class="hint-error" *ngIf="getAnswer(i, 'b').hasError('required') && getAnswer(i, 'b').touched">To pole jest <strong>wymagane.</strong></p>
              <p class="hint-error" *ngIf="getAnswer(i, 'b').hasError('maxlength') && getAnswer(i, 'b').touched">Odpowiedź <strong>nie może być dłuższa</strong> niż {{ getAnswer(i, 'a').getError('maxlength').requiredLength }} znaków.</p>
          </div>

          <div class="answer">
              <input type="text" formControlName="c" class="form-control answer" placeholder="Odpowiedź c)">
              <p class="hint-error" *ngIf="getAnswer(i, 'c').hasError('required') && getAnswer(i, 'c').touched">To pole jest <strong>wymagane.</strong></p>
              <p class="hint-error" *ngIf="getAnswer(i, 'c').hasError('maxlength') && getAnswer(i, 'c').touched">Odpowiedź <strong>nie może być dłuższa</strong> niż {{ getAnswer(i, 'a').getError('maxlength').requiredLength }} znaków.</p>
          </div>

          <div class="answer">
              <input type="text" formControlName="d" class="form-control answer" placeholder="Odpowiedź d)">
              <p class="hint-error" *ngIf="getAnswer(i, 'd').hasError('required') && getAnswer(i, 'd').touched">To pole jest <strong>wymagane.</strong></p>
              <p class="hint-error" *ngIf="getAnswer(i, 'd').hasError('maxlength') && getAnswer(i, 'd').touched">Odpowiedź <strong>nie może być dłuższa</strong> niż {{ getAnswer(i, 'a').getError('maxlength').requiredLength }} znaków.</p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <h3>Prawidłowa odpowiedź</h3>
        <label>
          <input type="radio" value="a" formControlName="rightAnswer">
          a
        </label>

        <label>
          <input type="radio" value="b" formControlName="rightAnswer">
          b
        </label>

        <label>
          <input type="radio" value="c" formControlName="rightAnswer">
          c
        </label>

        <label>
          <input type="radio" value="d" formControlName="rightAnswer">
          d
        </label>

        <p class="hint-error" *ngIf="getRightAnswer(i).hasError('required') && getRightAnswer(i).touched">Prawidłowa odpowiedź jest <strong>wymagana</strong>.</p>
      </div>

      <div class="form-group">
        <input type="number" name="duration" formControlName="duration" class="form-control" placeholder="Czas na odpowiedź w sekundach (0 oznacza brak ograniczenia czasowego)">
      </div>

    </div>

  </div>

  <div class="quiz__actions">
    <button type="button" class="quiz__action btn btn--primary btn--block" (click)="addQuestion()">
      <fa-icon [icon]="faPlus" size="lg"></fa-icon>
    </button>
  
    <button type="submit" class="quiz__action btn btn--secondary btn--block" [disabled]="quizForm.invalid" *ngIf="!editMode else updateQuizBtn">
      <fa-icon [icon]="faSave" size="lg"></fa-icon>
    </button>
  
    <ng-template #updateQuizBtn>
      <button type="button" class="quiz__action btn btn--secondary btn--block" [disabled]="quizForm.invalid" (click)="updateQuiz()">
        <fa-icon [icon]="faPen" size="lg"></fa-icon>
      </button>
    </ng-template>
  </div>

</form>