@import '../sass/components/colours';
@import '../sass/functions/em';

.slider{
    margin-top: 50px;

    &__row{
        display: grid;
        grid-template-columns: 1fr 1200px 1fr;
    }

    &__title{
        width: 1200px;
        margin: 0px auto;
    }

    &__nav-btn {
        align-items: center;
        align-self: end;
        display: grid;
        background-color: #2E2E2E;
        border: none;
        border-radius: em(10px);
        cursor: pointer;
        color: #FFFFFF;
        height: 100%;
        width: em(100px);

        &--prev {
            justify-self: end;
            margin-right: em(20px);
        }
    
        &--next {
            margin-left: em(20px);
        }
    }
}