<div class="slider u-margin-top-xxl">

  <div class="slider__title u-margin-auto">
    <h2>{{ section.title }}</h2>
  </div>

  <div class="slider__row">

    <button class="slider__nav-btn slider__nav-btn--prev u-margin-right-lg" #prevBtn>
      <fa-icon [icon]="faChevronLeft" size="4x"></fa-icon>
    </button>

    <swiper class="slider__carousel" [config]="sliderConfig">

      <quiz *ngFor="let quiz of section.quizzes" [routerLink]="['play-quiz', quiz._id]" [quiz]="quiz" [title]="quiz.title">
      </quiz>

    </swiper>

    <button class="slider__nav-btn slider__nav-btn--next u-margin-left-lg" #nextBtn>
      <fa-icon [icon]="faChevronRight" size="4x"></fa-icon>
    </button>

  </div>

</div>