@import '../sass/abstracts/variables';
@import '../sass/abstracts/functions';

.slider{
    margin-top: 50px;

    &__row{
        display: grid;
        grid-template-columns: 1fr 70vw 1fr;
    }

    &__title{
        width: 70vw;
        margin: 0px auto;
    }

    &__nav-btn {
        align-items: center;
        align-self: end;
        display: grid;
        background-color: #2E2E2E;
        border: none;
        border-radius: rem(10px);
        cursor: pointer;
        color: #FFFFFF;
        height: 100%;
        width: rem(100px);

        &--prev {
            justify-self: end;
            margin-right: rem(20px);
        }
    
        &--next {
            margin-left: rem(20px);
        }
    }
}

@media (max-width: 768px) {
    .slider {

        &__row{
            display: grid;
            grid-template-columns: 100vw;
            justify-items: center;

            .slider__carousel {
                width: 650px;
            }
        }
    
        &__title{
            width: 650px; 
            margin: 0px auto;
        }

        &__nav-btn--prev {
            display: none;
        }

        &__nav-btn--next {
            display: none;
        }
    }

    .quiz {
        width: 300px;
    }
}

@media (max-width: 425px) {
    .slider {

        &__row{
            display: grid;
            grid-template-columns: 100vw;
            justify-items: center;

            .slider__carousel {
                width: 300px;
                
            }
        }
    
        &__title{
            width: 300px;
            margin-left: 0px auto;
        }

        &__nav-btn--prev {
            display: none;
        }

        &__nav-btn--next {
            display: none;
        }
    }
}