@import '../sass/components/colours';
@import '../sass/functions/em';

.quizzes-slider{
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    &__row{
        width: 70vw;
    }

    &__title{
        padding-left: em(20px);
    }

    &__nav-btn {
        align-items: center;
        align-self: end;
        display: grid;
        background-color: #2E2E2E;
        border: none;
        border-radius: em(10px);
        cursor: pointer;
        color: #FFFFFF;
        height: em(200px);
        width: em(100px);

        &--prev {
            justify-self: end;
            margin-right: em(20px);
        }
    
        &--next {
            margin-left: em(20px);
        }
    }
}

.quiz {
    margin: 0px em(20px);
}