@import '../sass/components/colours';
@import '../sass/functions/em';

.quizzes{
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    &-row{

        &-title{
            padding-left: em(20px);
        }

        &-content{
            width: em(1500px);

            &-quiz{
                background-color: $light-primary-color;
                height: em(200px);
                border-radius: em(10px);
                margin: 0px em(20px);
                cursor: pointer;
                transition: background-color 0.2s ease-out;

                &-title{
                    text-align: center;
                }

                &-image{
                    width: em(133px);
                    margin: 0px auto;
                }

                &:hover{
                    background-color: $primary-color;
                }
            }
        }
    }
    
    &-prev, &-next{
        background-color: #2E2E2E;
        width: em(100px);
        height: em(200px);
        align-self: end;
        border-radius: em(10px);
        border: none;
        color: #FFFFFF;
        display: grid;
        justify-items: center;
        align-items: center;
        cursor: pointer;
    }

    &-prev{
        justify-self: end;
        margin-right: em(20px);
    }

    &-next{
        margin-left: em(20px);
    }
}