@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.image-input {
    height: 300px;
    border: 5px dashed $light-primary-color;
    border-radius: 5px;
    position: relative;

    &__input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 99;
        cursor: pointer;
    }

    &__actions {
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 20px;
        z-index: 100;
    }

    &__icon {
        @include absolute-centering;
        color: lighten($light-primary-color, 15%);
    }

    &__image {
        max-height: 280px;
        width: auto;
        @include absolute-centering;
    }
}

:host.ng-invalid.ng-touched {
    .image-input {
        border-color: $danger-color;
    }
}

:host.ng-valid.ng-touched {
    .image-input {
        border-color: $success-color;
    }
}

@media (max-width: 768px) {
    .image-input {

        &__image {
            max-width: 95%;
            height: auto;
        }
        
    }
}