<div class="image-input">

  <div class="image-input__actions">

    <button type="button" class="btn" (click)="removeImage()">

      <fa-icon class="image-input__remove-image btn btn--danger" [icon]="faTrash"></fa-icon>

    </button>

  </div>

  <input class="image-input__input" type="file" title="" #imgInput (change)="onChange($event)">

  <fa-icon class="image-input__icon" [icon]="faFileImage" size="10x" *ngIf="!hasValue"></fa-icon>
  
  <img class="image-input__image" #imgPreview>

</div>
