@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.image-input {
    height: 300px;
    border: 5px dashed $light-primary-color;
    border-radius: 5px;
    position: relative;

    input[type="file"] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 99;
        background-color: red;
        cursor: pointer;
    }

    .ng-fa-icon {
        @include absolute-centering;
        color: lighten($light-primary-color, 15%);
    }

    img {
        height: 280px;
        width: auto;
        @include absolute-centering;
    }
}