@import '../sass/abstracts/functions';

.info {
    width: rem(300px);
    height: rem(300px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(99, 98, 98);
    
    
    &__text {
        font-weight: bold;
        font-size: rem(20px);
    }

    &__icon {
        font-size: 12rem;
    }
}