.btn {
    @include button;

    &--primary {
        @include button-theme($secondary-color);
    }

    &--secondary {
        @include button-theme($accent-color);
    }

    &--warning {
        @include button-theme($warning-color);
    }

    &--danger {
        @include button-theme($danger-color);
    }

    &--success {
        @include button-theme($success-color);
    }

    &--outline-primary {
        @include outline-button-theme($secondary-color);
    }

    &--outline-secondary {
        @include outline-button-theme($accent-color);
    }  
    
    &--outline-success {
        @include outline-button-theme($success-color);
    } 

    &--outline-danger {
        @include outline-button-theme($danger-color);
    } 

    &--outline-warning {
        @include outline-button-theme($warning-color);
    } 

    &--icon {
        @include icon-button-theme($light-text-color);
    }

    &--menu-item {
        text-transform: none;
        text-align: start;
        border-radius: 0px;
        font-weight: 700;
        padding: rem(15px);
        
        &:hover {
            background-color: lighten($light-primary-color, 10%);
        }
    }

    &--block {
        display: block;
        width: 100%;
    }
}