@import './colours';
@import '../functions/em';

.btn{
    background-color: $secondary-color;
    border: none;
    outline: none;
    padding: em(10px);
    border-radius: em(3px);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .2s ease-out;

    &.btn-accent {
        color: $accent-color;
    }

    &.btn-block{
        width: 100%;
    }

    &.btn-empty {
        background-color: transparent;
        color: $secondary-color;

        &:hover {
            transition: background-color .2s ease-in;
            background-color: rgba($secondary-color, 0.150);
        }
    }

    &:disabled{
        color: #000000;
        opacity: 0.6;
        cursor: default;
    }
}