.form{
    width: rem(500px);
    padding: rem(20px);
    background-color: $primary-color;
    border-radius: rem(3px);

    h1 {
        text-align: center;
        margin: 0px;
    }
}

@media (max-width: 425px) {
    .form {
        width: 95vw;
    }
}