@import '../functions/em';

.input-control{
    background-color: #3D3D3D;
    border-radius: em(5px);
    outline: none;
    border: none;
    padding: em(12px) em(22px);
    color: #ffffff;
    font-size: em(17px);
    width: 100%;

    &.ng-valid.ng-touched{
        box-shadow: 0px 0px 0px em(2px) #0F8F2B;
    }

    &.ng-invalid.ng-touched{
        box-shadow: 0px 0px 0px em(2px) rgb(161, 45, 19);
    }

    &::placeholder{
        color: #686868;
    }
}

.input-sticker{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #3D3D3D;
    border-radius: em(5px);
    padding: 0px em(10px);

    .sticker{
        color: #686868;
    }
}

.input-group{
    margin: em(20px) 0px;
}

.hint{
    font-size: em(13px);
    color: #808080;
}

.hint-error{
    color: rgb(236, 70, 32);
}

.input-inline-group{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: em(20px) 0px;

    .input-control{
        margin-left: em(20px);

        &:first-child{
            margin-left: 0px;
        }
    }
}