@import '../functions/em';
@import '../components/colours';

.input-control{
    background-color: $light-primary-color;
    border-radius: em(5px);
    outline: none;
    border: none;
    padding: em(12px) em(22px);
    color: #ffffff;
    font-size: em(17px);
    width: 100%;
    transition: box-shadow .2s ease-in-out;

    &.ng-valid.ng-touched, &.valid.ng-touched {
        box-shadow: 0px 0px 0px em(2px) #0F8F2B;
    }

    &.ng-invalid.ng-touched, &.invalid.ng-touched {
        box-shadow: 0px 0px 0px em(2px) rgb(161, 45, 19);
    }

    &::placeholder{
        color: #797979;
    }
}

.input-sticker{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: $light-primary-color;
    border-radius: em(5px);
    padding: 0px em(10px);

    .sticker{
        color: #797979;
    }
}

.input-group{
    margin: em(20px) 0px;
}

.hint{
    font-size: em(13px);
    color: #808080;

    &-error {
        color: rgb(236, 70, 32);
    }
}

.input-inline-group{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: em(20px) 0px;

    *:not(:first-child) {
        margin-left: em(20px);
    }
}