.tooltip{
    position: fixed;
    background-color: black;
    padding: rem(5px) rem(10px);
    border-radius: rem(3px);
    font-size: rem(14px);
    text-align: center;
    z-index: 999;
    
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}