@import './colours';

button.btn{
    background-color: $secondary-color;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

button.btn.btn-block{
    width: 100%;
}

button:disabled{
    color: #000000;
    opacity: 0.6;
}