@import './colours';
@import '../functions/em';

.btn{
    background-color: $secondary-color;
    border: none;
    outline: none;
    padding: em(10px);
    border-radius: em(3px);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.btn.btn-block{
    width: 100%;
}

button:disabled{
    color: #000000;
    opacity: 0.6;
}