@import '../functions/em';
@import '../animations/fadeIn';

.tooltip{
    position: absolute;
    background-color: black;
    padding: em(5px) em(10px);
    border-radius: em(3px);
    font-size: em(14px);
    text-align: center;
    
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}