<div class="play-quiz">
  <div class="play-quiz__actions">
    <button class="play-quiz__actions--close" [routerLink]="['/']">
      <fa-icon [icon]="faTimes" size="2x"></fa-icon>
    </button>

    <div class="play-quiz__actions--timer">
      Pozostały czas: 23s
    </div>

    <button class="play-quiz__actions--next" (click)="next()">
      <fa-icon [icon]="faArrowRight" size="2x"></fa-icon>
    </button>
  </div>

  <div class="play-quiz__question" *ngIf="question">
    <h3 class="play-quiz__question--title">
      {{ question.title }}
    </h3>

    <div class="play-quiz__question--image" *ngIf="question.img" [style.background-image]="'url('+ environment.backendOrigin + question.img +')'">

    </div>

    <div class="play-quiz__question--answers">

      <button
        class="play-quiz__question--answers__answer" 
        *ngFor="let answer of question.answers | keyvalue"
        [ngClass]="{ 
          valid: choosenAnswer && question.rightAnswer === answer.key, 
          invalid: choosenAnswer && question.rightAnswer !== answer.key, 
          choosen: choosenAnswer === answer.key }" 
        (click)="chooseAnswer(answer.key)">{{ answer.key }} {{ answer.value }}</button>
        
    </div>
  </div>
</div>