<div class="play-quiz">
  <div class="play-quiz__actions">
    <button class="play-quiz__actions--close">
      <fa-icon [icon]="faTimes" size="2x"></fa-icon>
    </button>

    <div class="play-quiz__actions--timer">
      Pozostały czas: 23s
    </div>

    <button class="play-quiz__actions--next" (click)="next()">
      <fa-icon [icon]="faArrowRight" size="2x"></fa-icon>
    </button>
  </div>

  <div class="play-quiz__question">
    <h3 class="play-quiz__question--title">
      {{ question?.title }}
    </h3>

    <div class="play-quiz__question--image" [style.background-image]="'url('+ env.backendOrigin + question?.img +')'">

    </div>

    <div class="play-quiz__question--answers">
      <button
        class="play-quiz__question--answers__answer" 
        [ngClass]="{ 
          valid: question?.rightAnswer === 'a', 
          invalid: question?.rightAnswer !== 'a', 
          answered: choosenAnswer,
          choosen: choosenAnswer === 'a' }" 
        (click)="chooseAnswer('a')">a) {{ question?.answers['a'] }}</button>

      <button 
        class="play-quiz__question--answers__answer"
        [ngClass]="{ 
          valid: question?.rightAnswer === 'b', 
          invalid: question?.rightAnswer !== 'b', 
          answered: choosenAnswer,
          choosen: choosenAnswer === 'b' }"
        (click)="chooseAnswer('b')">b) {{ question?.answers['b'] }}</button>

      <button 
        class="play-quiz__question--answers__answer"
        [ngClass]="{ 
          valid: question?.rightAnswer === 'c', 
          invalid: question?.rightAnswer !== 'c', 
          answered: choosenAnswer,
          choosen: choosenAnswer === 'c'}" 
        (click)="chooseAnswer('c')">c) {{ question?.answers['c'] }}</button>
      
      <button 
        class="play-quiz__question--answers__answer"
        [ngClass]="{ 
          valid: question?.rightAnswer === 'd', 
          invalid: question?.rightAnswer !== 'd', 
          answered: choosenAnswer,
          choosen: choosenAnswer === 'd'}" 
        (click)="chooseAnswer('d')">d) {{ question?.answers['d'] }}</button>
    </div>
  </div>
</div>