<div class="quiz-board u-margin-auto u-margin-top-lg" *ngIf="!isFinished else summary">

  <div class="quiz-board__actions u-margin-bottom-sm">
    <button class="actions__close btn btn--icon" routerLink="/">
      <fa-icon [icon]="faTimes" size="2x"></fa-icon>
    </button>

    <div class="quiz-board__timer" [style.visibility]="question && question.duration ? 'visible' : 'hidden'">
      Pozostały czas: {{ timeLeft }}s
    </div>

    <button class="quiz-board__next btn btn--icon" (click)="next()">
      <fa-icon [icon]="faArrowRight" size="2x"></fa-icon>
    </button>
  </div>

  <div class="quiz-board__question" *ngIf="question">
    <h3 class="quiz-board__title">
      {{ question.title }}
    </h3>

    <img *ngIf="question.img" [src]="question.img" alt="quiz-image" class="quiz-board__image">

    <div class="quiz-board__answers">

      <button
        class="quiz-board__answer btn btn--block" 
        *ngFor="let answer of question.answers | keyvalue"
        [ngClass]="{ 
          'quiz-board__answer--valid': choosenAnswer && question.correctAnswer === answer.key, 
          'quiz-board__answer--invalid': choosenAnswer && question.correctAnswer !== answer.key, 
          'quiz-board__answer--choosen': choosenAnswer === answer.key }" 
        (click)="chooseAnswer(answer.key)">{{ answer.key }}) {{ answer.value }}</button>
        
    </div>
  </div>
</div>

<ng-template #summary>
  <div class="summary u-margin-auto u-margin-top-lg">
    <h2 class="summary__title">
      Podsumowanie
    </h2>

    <div class="summary__score u-margin-vertical-lg">
      Zdobyłeś {{ this.numberOfCorrectAnswers }} / {{ this.questions.length }} punktów ({{ score.toFixed(0) }}%)
    </div>

    <div class="summary__details">

      <div class="summary__heading">
        <div>Treść pytania</div>
        <div>Prawidłowa odpowiedź</div>
      </div>

      <div class="summary__question" *ngFor="let question of questions; let index = index">
        <div class="summary__name" [ngClass]="question.isAnsweredCorrectly ? 'summary__name--correct' : 'summary__name--wrong'">{{ question.title }}</div>

        <div class="summary__answer">
          {{ question.answers[question.correctAnswer] }}
        </div>
      </div>

    </div>

    <div class="summary__button u-margin-top-xxl">
      <button class="btn btn--outline-primary" routerLink="/">Zakończ</button>
    </div>

  </div>
</ng-template>