@import '../sass/components/colours';
@import '../sass/functions/em';
@import '../sass/abstract/reset-button';

.quiz-board {
    width: 50vw;
    margin: em(20px) auto 0px auto;

    .actions {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        margin-bottom: em(10px);
        padding: 0px 20px;

        .ng-fa-icon { cursor: pointer; }

        &__close {
            @include reset-button();
            justify-self: start;
        }

        &__timer {
            text-align: center;
            font-weight: 900;
        }

        &__next {
            @include reset-button();
            justify-self: end;
        }
    }

    .question {
        background-color: $light-primary-color;
        border-radius: em(3px);
        padding: em(15px);

        &__title {
            text-align: center;
            font-weight: 900;
        }

        &__image {
            background-image: url('../../assets/JavaScript-logo.png');
            background-position: center center;
            background-size: auto 100%;
            background-repeat: no-repeat;
            max-width: em(700px);
            height: em(300px);
            margin: em(20px) auto;
        }

        &__answers {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, em(65px));
            grid-gap: em(20px);
        }

        &__answer {
            @include reset-button();
            background-color: $answer-color;
            border-radius: em(3px);
            display: flex;
            align-items: center;
            padding: 0 em(15px);
            cursor: pointer;
            transition: box-shadow .2s ease-in-out;
            font-size: 1.3rem;

            &--valid {
                background-color: $answer-valid-color;
            }

            &--invalid {
                background-color: $answer-invalid-color;
            }

            &--choosen {
                box-shadow: 0px 0px 0px em(3px) $accent-color !important; 
            }

            &:hover {
                box-shadow: 0px 0px 0px em(1px) $accent-color; 
            }
        }
    }
}

.summary {
    width: 50vw;
    margin: em(20px) auto 0px auto;
    background-color: $light-primary-color;
    border-radius: em(3px);
    padding: em(15px) em(60px);

    &__title {
        text-align: center;
    }

    &__score {
        font-size: em(20px);
        margin: em(20px) 0px;
    }

    &__details {
        font-size: em(18px);
    }

    .question {
        display: grid;
        grid-template-columns: 8fr 3fr;
        padding: em(15px) 0px;
        align-items: center;

        &__name {
            font-size: em(20px);

            &--correct {
                color: lighten($answer-valid-color, 20);
            }
            
            &--wrong {
                color: lighten($answer-invalid-color, 20);
            }
        }
        
    }

    &__button {
        text-align: end;
        margin-top: em(70px);
    }
}

.questions--heading {
    font-weight: 900;
    @extend .question;
}