@import '../sass/abstracts/variables';
@import '../sass/abstracts/functions';

.quiz-board {
    width: 70vw;

    &__actions {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        padding: 0px rem(20px);
    }

    &__close {
        justify-self: stretch;
    }

    &__timer {
        text-align: center;
        font-weight: 900;
    }

    &__next {
        justify-self: end;
    }

    &__question {
        background-color: $light-primary-color;
        border-radius: rem(3px);
        padding: rem(15px);
    }

    &__title {
        text-align: center;
        font-weight: 900;
    }

    &__image {
        max-width: rem(700px);
        height: rem(300px);
        width: auto;
        margin: rem(20px) auto;
        display: block;
    }

    &__answers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: rem(20px);
    }

    &__answer {
        background-color: $answer-color;
        text-align: start;
        font-size: 1.3rem;
        height: rem(65px);

        &--valid {
            background-color: $success-color;
        }

        &--invalid {
            background-color: $answer-invalid-color;
        }

        &--choosen {
            box-shadow: 0px 0px 0px rem(3px) $accent-color !important; 
        }

        &:hover {
            box-shadow: 0px 0px 0px rem(1px) $accent-color; 
        }
    }
}

.summary {
    width: 50vw;
    background-color: $light-primary-color;
    border-radius: rem(3px);
    padding: rem(15px) rem(60px);

    &__title {
        text-align: center;
    }

    &__score {
        font-size: rem(20px);
    }

    &__details {
        font-size: rem(18px);
    }

    &__question {
        display: grid;
        grid-template-columns: 8fr 3fr;
        padding: rem(15px) 0px;
        align-items: center;
    }

    &__heading {
        font-weight: 900;
        @extend .summary__question;
    }

    &__name {
        font-size: rem(20px);

        &--correct {
            color: lighten($answer-valid-color, 20);
        }
        
        &--wrong {
            color: lighten($answer-invalid-color, 20);
        }
    }

    &__button {
        text-align: end;
    }
}

@media (max-width: 1024px) {
    .quiz-board {
        width: 90vw;
    }
}

@media (max-width: 768px) {
    .quiz-board {
        width: 95vw;

        &__answers {
            grid-template-columns: 1fr;
        }
    }
}