<form action="#" class="login">

  <h1>Zarejestruj się</h1>

  <div class="input-inline-group">
    <input type="text" class="input-control" placeholder="Imię">
    <input type="text" class="input-control" placeholder="Nazwisko">
  </div>

  <div class="input-group">
    <input type="email" class="input-control" placeholder="Email...">
  </div>

  <div class="input-group">
    <input type="password" class="input-control" placeholder="Hasło...">
  </div>

  <div class="input-group">
    <input type="password" class="input-control" placeholder="Powtórz hasło...">
  </div>

  <p>Masz już konto ? <a routerLink="/login">Zaloguj się tutaj</a></p>

  <div class="input-group">
    <button type="submit" class="btn btn-block">
      Zaloguj się
    </button>
  </div>

</form>
