@import '../sass/abstracts/functions';

.quizzes {
    margin-top: rem(20px);
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: rem(10px);
    justify-content: center;
    align-items: center;
}

