@mixin button{
    border-radius: rem(3px);
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 400;
    outline: none;
    padding: rem(10px);
    text-transform: uppercase;
    transition: all .2s ease-out;
    text-align: center;
    width: fit-content;
    background-color: transparent;

    &:disabled {
        opacity: 0.7;
        cursor: default;
    }
}

@mixin button-theme($background-color) {
    background-color: $background-color;
    color: text-color($background-color);

    &:not(:disabled):hover {
        background-color: darken($background-color, 10%);
        color: text-color(darken($background-color, 10%));
    }
}

@mixin outline-button-theme($color) {
    background-color: transparent;
    color: $color;
    // box-shadow: 0px 0px 0px 1px $color;

    &:not(:disabled):hover {
        background-color: $color;
        color: text-color($color);
    }
}

@mixin icon-button-theme($color) {
    background-color: transparent;
    color: $color;
}

@mixin margin-utilities {
    @each $size, $positions in $margins {
        @each $position, $margin in $positions {
          &-#{$position}-#{$size} {
            margin-#{$position}: rem($margin);
          }
        }
    }
}