@mixin reset-button{
    color: #FFFFFF;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
}

@mixin button($background-color) {
    background-color: $background-color;
    color: text-color($background-color);

    &:not(:disabled):hover {
        background-color: darken($background-color, 10%);
        color: text-color(darken($background-color, 10%));
    }
}

@mixin outline-button($color) {
    background-color: transparent;
    color: $color;
    // box-shadow: 0px 0px 0px 1px $color;

    &:not(:disabled):hover {
        background-color: $color;
        color: text-color($color);
    }
}

@mixin icon-button($color) {
    background-color: transparent;
    color: $color;
}