@mixin reset-button{
    color: #FFFFFF;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
}

@mixin button($background-color) {
    background-color: $background-color;

    &:not(:disabled):hover {
        background-color: darken($background-color, 10%);
    }
}

@mixin outline-button($color, $hover-color: #000) {
    background-color: transparent;
    color: $color;
    // box-shadow: 0px 0px 0px 1px $color;

    &:not(:disabled):hover {
        background-color: $color;
        color: #000;
    }
}