$primary-color: #282828;
$light-primary-color: #2E2E2E;
$dark-primary-color: #121212;
$secondary-color: #10FC52;
$accent-color: #DA8E1D;
$warning-color: #ffc107;
$danger-color: #dc3545;
$success-color: #28a745;

$answer-color: #3D3D3D;
$answer-valid-color: #0F8F2B;
$answer-invalid-color: #722D1E;