/* You can add global styles to this file, and also import other style files */
@import './app/sass/components/input';
@import './app/sass/components/tooltip';
@import './app/sass/components/buttons';
@import './app/sass/components/form';

@import './app/sass/base/base';
@import './app/sass/base/typography';
@import './app/sass/base/animations';

@import './app/sass/abstracts/abstracts';
@import './app/sass/abstracts/functions';
@import './app/sass/abstracts/mixins';
@import './app/sass/abstracts/variables';


html{
    font-size: 100%;
}

body{
    background-color: $dark-primary-color;
    margin: 0px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

img{
    width: 100%;
    height: auto;
}

a.anchor:link, a.anchor:visited, a.anchor{
    color: #FFFFFF;
}

main {
    position: relative;
}