/* You can add global styles to this file, and also import other style files */
@import './app/sass/abstracts/variables';
@import './app/sass/abstracts/functions';
@import './app/sass/abstracts/mixins';

@import './app/sass/components/tooltip';
@import './app/sass/components/buttons';
@import './app/sass/components/form';
@import './app/sass/components/inputs';
@import './app/sass/components/forms';

@import './app/sass/base/base';
@import './app/sass/base/typography';
@import './app/sass/base/animations';
@import './app/sass/base/utilities';