<div class="quizzes u-margin-top-xxl" *ngIf="quizzes; else info">
    <div class="quizzes__quiz" *ngFor="let quiz of quizzes">
        <quiz [quiz]="quiz" [routerLink]="['/play-quiz', quiz._id]"></quiz>
    </div>
</div>

<info *ngIf="quizzes?.length === 0 && !isLoading">
    <fa-icon [icon]="faSadTear" class="info__icon"></fa-icon>
    <div class="info__text">Brak wyników</div>
</info>

<ng-template #info>
    <info *ngIf="!isLoading">
        <fa-icon [icon]="faSearch" class="info__icon"></fa-icon>
        <div class="info__text">Twoje wyszukiwania pojawią się tutaj</div>
    </info>
</ng-template>

<info *ngIf="isLoading">
    <fa-icon [icon]="faSpinner" [spin]="true" class="info__icon"></fa-icon>
</info>