@import '../sass/abstracts/variables';
@import '../sass/abstracts/functions';

.account {
    background-color: $primary-color;    
    width: 70vw;
    margin: rem(30px) auto;
    border-radius: rem(5px);
    padding: rem(20px);

    &__nav {
        background-color: $light-primary-color;
        border-radius: rem(5px);
    }
    
    &__tab {
        padding: 20px 0px;
        font-size: 1.1rrem;
        text-decoration: none;
        border-top-left-radius: rem(5px);
        border-top-right-radius: rem(5px);
        text-align: center;

        &.active {
            background-color: $primary-color;
        }
    }
}

@media (max-width: 425px) {
    .account {
        width: 95vw;
    }
}