@import '../sass/abstracts/functions';
@import '../sass/abstracts/variables';

%header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: rem(64px);
    box-shadow: 0px rem(4px) rem(15px) rgba(0, 0, 0, 0.25);
    padding: 0px rem(32px);
    background-color: $primary-color;
    position: sticky;
    top: 0px;
    z-index: 11;

    .header-item {
        text-align: center;
        margin-left: rem(32px);
        cursor: pointer;

        &:first-child {
            margin-left: 0px;
        }
    }

    .logo-text{
        font-weight: 900;
        font-size: rem(24px);
    }

    .header-left {
        @extend %header-section;
    }

    .header-right{
        @extend %header-section;
        justify-self: end;

        .header-item.small-screen {
            display: none;
        }
    }

    .header-middle{
        @extend %header-section;
    }
}

@media (max-width: 768px) {
    .header {
        grid-column-gap: rem(24px);

        .logo-text {
            display: none;
        }

        .header-right{

            .header-item {
                display: none;
                margin: 0px;
            }
    
            .header-item.small-screen {
                display: block;
            }
        }
    }
}