@import '../sass/abstracts/functions';
@import '../sass/abstracts/variables';

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: rem(64px);
    box-shadow: 0px rem(4px) rem(15px) rgba(0, 0, 0, 0.25);
    padding: 0px rem(32px);
    background-color: $primary-color;
    position: sticky;
    top: 0px;
    z-index: 11;

    &__logo {
        font-weight: 900;
        font-size: rem(24px);
    }

    &__item {
        text-align: center;
        margin-left: rem(32px);
        cursor: pointer;

        &:first-child {
            margin-left: 0px;
        }
    }

    &__section {
        display: flex;
        flex-direction: row;
        align-items: center;

        &:nth-child(3) {
            justify-self: end;
        }
    }

    .small-screen {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        grid-column-gap: rem(24px);

        &__logo {
            display: none;
        }

        &__section:nth-child(3) {
            .header__item {
                display: none;
            }

            .header__item.small-screen {
                display: block;
            }
        }
    }
}