@import '../sass/functions/em';

:host{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: 64px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    padding: 0px 32px;
    background-color: #282828;

    .header-item{
        text-align: center;
        margin-left: 32px;
        cursor: pointer;
    }

    .header-item:first-child{
        margin-left: 0px;
    }

    .header-right,
    .header-middle,
    .header-left{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo-text{
        font-weight: 900;
        font-size: em(24px);
    }

    .header-left{
        justify-self: end;
    }

    .header-middle{
        display: flex;
        justify-items: center;
    }
}