<header class="header">
    <div class="header__section">
    
        <div class="header__item" (click)="openSideNav()">
            <fa-icon [icon]="faBars" size="lg"></fa-icon>
        </div>
    
        <div class="header__item header__logo" routerLink="/">
            Quizario
        </div>
    
    </div>
    
    <div class="header__section">
        <div class="input-sticker">
            <div class="sticker">
                <fa-icon [icon]="faSearch" size="lg"></fa-icon>
            </div>
            <input type="text" class="form-control" name="search-quiz" placeholder="Szukaj quizu" #searchInput (input)="search(searchInput.value)" routerLink="/search">
        </div>
    </div>
    
    <div class="header__section">
    
        <div class="header__item" [tooltip]="'Konto'" *ngIf="user" routerLink="/account/me">
            <fa-icon [icon]="faUser" size="lg"></fa-icon>
        </div>
    
        <div class="header__item" [tooltip]="'Wyloguj się'" *ngIf="user" (click)="signOut()">
            <fa-icon [icon]="faSignOut" size="lg"></fa-icon>
        </div>
    
        <div class="header__item" [tooltip]="'Zaloguj się'" routerLink="/login" *ngIf="!user">
            <fa-icon [icon]="faSignIn" size="lg"></fa-icon>
        </div>
    
        <div class="header__item" [tooltip]="'Dodaj nowy quiz'" routerLink="/create-quiz" *ngIf="user">
            <fa-icon [icon]="faPlusSquare" size="lg"></fa-icon>
        </div>

        <div class="header__item small-screen" #triggerMenu>
            <fa-icon [icon]="faEllipsisV" size="lg"></fa-icon>
        </div>
    
    </div>
</header>