@import '../sass/functions/em';
@import '../sass/components/colours';

:host{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: em(64px);
    box-shadow: 0px em(4px) em(15px) rgba(0, 0, 0, 0.25);
    padding: 0px em(32px);
    background-color: $primary-color;
    position: sticky;
    top: 0px;
    z-index: 11;

    .header-item{
        text-align: center;
        margin-left: em(32px);
        cursor: pointer;
    }

    .header-item:first-child{
        margin-left: 0px;
    }

    .header-right,
    .header-middle,
    .header-left{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo-text{
        font-weight: 900;
        font-size: em(24px);
    }

    .header-left{
        justify-self: end;
    }

    .header-middle{
        display: flex;
        justify-items: center;
    }
}