@import '../sass/base/animations';

.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;

    &--dimmed {
        background-color: rgba(0, 0, 0, 0.473);
    }

    &--transparent {
        background-color: transparent;
    }
}