@import '../sass/animations/fadeIn';

.container.full-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.473);
    z-index: 14;
    opacity: 1;
    animation: fadeIn .2s ease-out;
}