a.link:link, a.link:visited, a.link {
    color: $accent-color;
    text-decoration: underline;
}

a:link, a:visited, a {
    color: $light-text-color;
    text-decoration: none;

}

body {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}