a.link:link, a.link:visited, a.link {
    color: $accent-color;
    text-decoration: underline;
}

body {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 320px) {
    html {
        font-size: 85%;
    }
}