.u-margin {
    @include margin-spacer;
}

.u-margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.u-margin-vertical-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}

.u-margin-vertical-lg {
    margin-top: 20px;
    margin-bottom: 20px;
}

.u-margin-vertical-xxl {
    margin-top: 40px;
    margin-bottom: 40px;
}

.u-text-center {
    text-align: center;
}